=link_to 'Add a new Employee', new_employee_path, class: 'btn btn-primary pull-right'

%h3 List of Employees

%table.table
  %thead
    %th ID
    %th First Name
    %th Last Name
    %th Annual Salary
    %th Super Rate
    %th Actions
  %tbody
    - @employees.each do |employee|
      %tr
        %td=employee.id
        %td=employee.first_name
        %td=employee.last_name
        %td=employee.annual_salary
        %td="#{'%.2f'%(employee.super_rate*100)}%"
        %td
          =link_to 'Edit', edit_employee_path(employee), class: 'btn btn-success'
          =link_to 'X', employee_path(employee), method: :delete, confirm: 'Are you sure', class: 'btn btn-danger'

