.footer
  - unless controller_name == 'home'
    %hr
  =link_to "© Zoltan Debre", "http://zoltan.co.nz"
  |
  =link_to "LinkedIn", "http://www.linkedin.com/in/zoltandebre"
  |
  =link_to "Twitter", "http://twitter.com/szines"
  |
  =link_to "GitHub", "http://github.com/szines"
