%nav.navbar.navbar-inverse
  .navbar-header
    %button.navbar-toggle{data: {toggle:'collapse', target:'#menubar'}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    =link_to 'PaySlip App', root_path, class: 'navbar-brand'
  #menubar.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li=link_to 'Home', root_path, class: ('active' if current_page?(root_url))
      %li=link_to 'Employees', employees_path, class: ('active' if current_page?(employees_url))
      %li=link_to 'Payslips', payslips_path, class: ('active' if current_page?(payslips_url))

- unless current_page?(root_url)
  %ol.breadcrumb
    =render_crumbs
=render 'layouts/messages'