%nav.navbar.navbar-inverse
  .navbar-header
    %button.navbar-toggle{data: {toggle:'collapse', target:'#navbar'}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    =link_to 'PaySlip App', root_path, class: 'navbar-brand'